{% extends "base.html" %}

{% block content %}


<h2 style= "position: relative; left: 50px">Cart:</h2>
<br />
<table class='table table-hover table-bordered container' style = "width: 80%">
  <tbody>
    {% for item in cartofuser %}
      <tr style= "height: 150px">
        <td>
          <div class="column" style="width: 60%; display: inline-block;">
            <div style="display: block">
              <p style="font-size: 18px; font-weight: bold; text-align: left; float: left; width: 100%">
                {{item.uid}} 
                {{item.product_id}} 
                {{item.seller_id}} 
                {{item.quantity}} 
              </p>
            </div>
          </div>

        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>




{% endblock %}