{% extends "base.html" %}

{% block content %}

<br><br>

<h2 style= "position: relative; left: 50px">Products for sale:</h2>
<br />
<table class='table table-hover table-bordered container' style = "width: 80%">
  <tbody>
    {% for product in avail_products%}
      <tr style= "height: 150px">
        <td>
          <div class="column" style="width: 20%; display: inline-flex; margin-right: 20px">
            <img src="https://www.gardendesign.com/pictures/images/675x529Max/site_3/helianthus-yellow-flower-pixabay_11863.jpg" alt="Rose" style="object-position: 0 0; object-fit: cover; max-width: 100%; max-height: 130px; margin: auto;">
          </div>

          <div class="column" style="width: 60%; display: inline-block;">
            <div style="display: block">
              <p style="font-size: 18px; font-weight: bold; text-align: left; float: left; width: 100%">
                {{product.name}} 
              </p>
            </div>
            <div style="display: block">
              <p style="font-size: 16px; font-weight: normal; text-align: left; float: left;">
                {{product.descrip}}
              </p>
            </div>
          </div>

          <div class="column" style="width: 15%; display: inline-block;">
            <div style="width: 80px; height: 80px; margin-bottom: 60px; background-color: #D6E5E3; display: inline-block; float: right">
              <p style="text-align: center; font-size: 13px; position: relative; top: 40%;"> 
                ${{product.price}} 
              </p>
              <p style="text-align: center; font-size: 13px; position: relative; top: 80%;"> 
                Category: {{product.category}} 
              </p>
              <p style = "text-align: center; font-size: 15px; position: relative; top: 70%;">
              	<a href="{{ url_for('index.moreInfo', variable=product.id) }}">More Info</a>
              </p>
            </div>
          </div>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<h2>Products for sale:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Category</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    {% for product in avail_products%}
      <tr>
        <th scope="row">{{product.id}}</th>
        <td>{{product.category}}</td>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.descrip}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>


<br><br>
{% if current_user.is_authenticated %}
<h2>Your recent purchases:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Purchase ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    {% for purchase in purchase_history%}
      <tr>
        <th scope="row">{{purchase.id}}</th>
        <td>{{purchase.pid}}</td>
        <td>{{purchase.time_purchased}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your purchase history!</p>
{% endif %}

{% endblock %}
