
{% extends "base.html" %}

{% block content %}

<div>  
  <br />
  <br />
  <h1>My Reviews</h1>
  
  <br />

  <table class='table table-hover table-bordered container'>
    <tbody>
      {% for review in reviews%}
      
        <tr style= "height: 100px">
          <td>
            <div>
             
              <p style = "display: inline-block; font-size: 15px; padding-top: 8px; margin-left: 10px;">
                {{review.date.month}}/{{review.date.day}}/{{review.date.year}}
              </p>
              <p style = "display: inline-block; font-size: 18px; font-weight: bold; padding-top: 8px; float: right; margin-right: 10px">
                Rating: {{review.rating}}
                <br />
              </p>
              <p>
                {{review.review}}
              </p>
              {% if current_user.is_authenticated and current_user.id == review.buyer_id %}
                <form action="{{ url_for('index.my_reviews', variable=current_user.id) }}" method="POST" >
                  <input type = "hidden" name = "product_id" value = {{ review.product_id }}>
                  <select id="stars" name="new_stars" style="background-color: #E0E4F5;">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                  <br />
                  New Rating
                  <div class="form-group">
                    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Edit your review" name="edit_review">
                  </div>
                  <button class="btn btn-danger" type="submit" name="delete" value=True>
                    <span class="glyphicon glyphicon-trash">
                    </span> Delete
                  </button> 
                  <button class="btn btn-danger" type="submit" name="edit" value=True>
                    <span class="glyphicon glyphicon-trash">
                    </span> Submit Edited Review
                  </button> 
                </form>
                {% endif %}
             
            </div>
          </td>
        </tr>

      {% endfor %}
    </tbody>
  </table>

  
</div>


{% endblock %}
