
{% extends "base.html" %}

{% block content %}


<div style = "padding-left: 20px">
    <h1 style= "position: absolute; left: 250px">User Account Page
    <h3>
      <br />
      <br />
      <br />
      <p>
        First Name:
        {{ user.first_name}} 
        <form action="{{ url_for('index.updateuserinfo', variable=current_user.id) }}" method="POST" >
                      
          <div class="form-group">
            <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Edit value" name="editfirstname">
          </div>
          <button class="btn btn-danger" type="submit" name="editfirstnamebutton" value=True>
            <span class="glyphicon glyphicon-trash">
        
            </span> Submit Edit Value
          </button> 
        </form>
        <br/>
        Middle Name:
        {{ user.mid_name}} 
        <form action="{{ url_for('index.updateuserinfo', variable=current_user.id) }}" method="POST" >
                      
          <div class="form-group">
            <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Edit value" name="editmiddlename">
          </div>
          <button class="btn btn-danger" type="submit" name="editmiddlenamebutton" value=True>
            <span class="glyphicon glyphicon-trash">
        
            </span> Submit Edit Value
          </button> 
        </form>
        <br/>
        Last Name:
        {{ user.last_name}}
        <form action="{{ url_for('index.updateuserinfo', variable=current_user.id) }}" method="POST" >
                      
          <div class="form-group">
            <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Edit value" name="editlastname">
          </div>
          <button class="btn btn-danger" type="submit" name="editlastnamebutton" value=True>
            <span class="glyphicon glyphicon-trash">
        
            </span> Submit Edit Value
          </button> 
        </form>
        <br/>
      </p>
      <p>Email:
        {{user.email}}
        <form action="{{ url_for('index.updateuserinfo', variable=current_user.id) }}" method="POST" >
                      
          <div class="form-group">
            <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Edit value" name="editemail">
          </div>
          <button class="btn btn-danger" type="submit" name="editemailbutton" value=True>
            <span class="glyphicon glyphicon-trash">
        
            </span> Submit Edit Value
          </button> 
        </form>
      </p>
      <p>Update Password:
        <form action="{{ url_for('index.updateuserinfo', variable=current_user.id) }}" method="POST" >
                      
          <div class="form-group">
            <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Edit value" name="editpassword">
          </div>
          <button class="btn btn-danger" type="submit" name="editpasswordbutton" value=True>
            <span class="glyphicon glyphicon-trash">
        
            </span> Submit Edit Value
          </button> 
        </form>
      </p>
      <p>Address:
        {{user.address}}
        <form action="{{ url_for('index.updateuserinfo', variable=current_user.id) }}" method="POST" >
                      
          <div class="form-group">
            <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Edit value" name="editaddress">
          </div>
          <button class="btn btn-danger" type="submit" name="editaddressbutton" value=True>
            <span class="glyphicon glyphicon-trash">
        
            </span> Submit Edit Value
          </button> 
        </form>
      </p>
      <p>Balance:
        ${{user.balance}}
        <form action="{{ url_for('index.updateuserinfo', variable=current_user.id) }}" method="POST" >
                      
          <div class="form-group">
            <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Edit value" name="editbalance">
          </div>
          <button class="btn btn-danger" type="submit" name="editbalancebutton" value=True>
            <span class="glyphicon glyphicon-trash">
        
            </span> Submit Edit Value
          </button> 
        </form>
      </p>
      <p>Account Id:
        {{user.id}}
      </p>
    </h3>
    <br />
    <h3>Your recent purchases:</h3>
    <br/>
    {% for item in purchase %}
      <br/>
      Account ID:
      {{item.uid}}
      <br />
      Order ID:
      {{item.order_id}}
      <br />
      Seller ID:
      {{item.seller_id}}
      <br />
      Quantity:
      {{item.num_items}}
      <br />
      Fulfillment Status:
      {{item.fulfillment_status}}
      <br />
      Time Ordered:
      {{item.date}}
      <br />
      ----------------
      <br />
    {% endfor %}
    <br />
    <br />
</div>
<a class="btn btn-secondary" href="{{ url_for('index.nonsellerpublicinfo', variable = user.id) }}" role="button">Public View</a>
<a class="btn btn-secondary" href="{{ url_for('index.seller', variable = user.id) }}" role="button">Seller Private View</a>
<a class="btn btn-secondary" href="{{ url_for('index.my_reviews', variable = user.id) }}"role="button">My Reviews</a>

{% endblock %}
