
{% extends "base.html" %}

{% block content %}


</div>
    <h1 style= "position: absolute; left: 250px">User Account Page
    <h3>
      <br />
      <br />
      <br />
      <p>
        Name:
        {{ user.first_name}} {{ user.mid_name}} {{ user.last_name}}
      </p>
      <p>Email:
        {{user.email}}
      </p>
      <p>Address:
        {{user.address}}
      </p>
      <p>Balance:
        ${{user.balance}}
      </p>
      <p>Account Id:
        {{user.id}}
      </p>
    </h3>
    <br />
    <h3>Your recent purchases:</h3>
    <br/>
    {% for item in purchase %}
      <br/>
      Account ID:
      {{item.uid}}
      <br />
      Order ID:
      {{item.order_id}}
      <br />
      Seller ID:
      {{item.seller_id}}#####
      <br />
      Total Price:
      {{item.total_price}}######
      <br />
      Quantity:
      {{item.num_items}}
      <br />
      Fulfillment Status:
      {{item.fulfillment_status}}
      <br />
      Time Ordered:
      {{item.current_timestamp}}#######
      <br />
      ----------------
      <br />
    {% endfor %}
    <br />
    <br />
</div>
<a class="btn btn-secondary" href="{{ url_for('index.nonsellerpublicinfo', variable = user.id) }}" role="button">Public View</a>
<a class="btn btn-secondary" role="button">Add Balance</a>
<a class="btn btn-secondary" role="button">Withdraw Balance</a>
<a class="btn btn-secondary" href="{{ url_for('index.my_reviews', variable = user.id) }}"role="button">My Reviews</a>

{% endblock %}
