{% extends "base.html" %}

{% block content %}

<br><br>
<h2 style= "position: relative; left: 250px">Shipping Information</h2>
<div style = "position: absolute; top: 200px; left: 260px;">
    <input type="text" placeholder="First Name" name="item" />
</div>
<div style = "position: absolute; top: 200px; left: 460px;">
    <input type="text" placeholder="Last Name" name="item" />
</div>
<div style = "position: absolute; top: 240px; left: 260px;">
    <input type="text" placeholder="Address Line 1" name="item" />
</div>
<div style = "position: absolute; top: 240px; left: 460px;">
    <input type="text" placeholder="Address Line 2" name="item" />
</div>
<div style = "position: absolute; top: 280px; left: 260px;">
    <input type="text" placeholder="Zip Code" name="item" />
</div>
<div style = "position: absolute; top: 280px; left: 460px;">
    <input type="text" placeholder="State" name="item" />
</div>
<div style = "position: absolute; top: 320px; left: 260px;">
    <input type="text" placeholder="Country" name="item" />
</div>
<h2 style= "position: relative; top:200px; left: 250px">Payment Information</h2>
<div style = "position: absolute; top: 450px; left: 260px;">
    <input type="text" placeholder="Card Number" name="item" />
</div>
<div style = "position: absolute; top: 450px; left: 460px;">
    <input type="text" placeholder="CVV" name="item" />
</div>
<div style = "position: absolute; top: 490px; left: 260px;">
    <input type="text" placeholder="Month" name="item" />
</div>
<div style = "position: absolute; top: 490px; left: 460px;">
    <input type="text" placeholder="Year" name="item" />
</div>

<div style= "position:absolute; top: 140px; left: 800px; width: 600px; height: 400px; padding: 20px; margin: auto; border-style: solid; border-width: 1px; border-color: #D1D5DB; background-color: #E8EAED"></div>
<div style="position: absolute; top: 420px; left: 850px">
    <p style="font-size: 16px; font-weight: normal; text-align: left; float: left;">
      Subtotal: $7495.38
    </p>
</div>
<div style="position: absolute; top: 445px; left: 850px">
    <p style="font-size: 16px; font-weight: normal; text-align: left; float: left;">
      Shipping and Handling:
    </p>
</div>
<div style="position: absolute; top: 470px; left: 850px">
    <p style="font-size: 24px; font-weight: normal; text-align: left; float: left;">
      Total: $7495.38
    </p>
</div>
<div style = "position: absolute; top: 380px; left: 850px;">
    <input type="text" placeholder="Promo Code" name="item" />
</div>
<div style = "position: absolute; top: 320px; left: 850px;">
    <select id="categories" name="categories">
        <option value="Shipping Options">Shipping Options</option>
        <option value="Standard Shipping - $2.99">Standard Shipping - $2.99</option>
        <option value="Expedited Shipping - $4.99">Expedited Shipping - $4.99</option>
        <option value="Two Day Shipping - $8.99">Two Day Shipping - $8.99</option>
        <option value="One Day Shipping - $11.99">One Day Shipping - $11.99</option>
    </select>
</div>
<div class="column" style="position: absolute; top: 180px; left:850px; width: 9%; display: inline-flex; margin-right: 20px">
    <img src="https://www.gardendesign.com/pictures/images/675x529Max/site_3/helianthus-yellow-flower-pixabay_11863.jpg" alt="Rose" style="object-position: 0 0; object-fit: cover; max-width: 100%; max-height: 130px; margin: auto;">
  </div>
  <div style="position: absolute; top: 180px; left: 1020px;">
    <p style="font-size: 20px; font-weight: bold; text-align: left; float: left; width: 100%">
      {{product.name}} 
    </p>
  </div>
  <div style="position: absolute; top: 218px; left: 1020px;">
    <p style="text-align: center; font-size: 16px; position: relative; top: 40%;"> 
      ${{product.price}} 
    </p>
  </div>
  <div style="position: absolute; top: 250px; left: 1020px;">
    <p style="text-align: center; font-size: 16px; position: relative; top: 40%;"> 
      Category: {{product.category}} 
    </p>
  </div>
  <div style="position: absolute; top: 180px; left: 1250px;">
    <p style="text-align: center; font-size: 16px; position: relative; top: 40%;"> 
      Quantity: 6
    </p>
  </div>
<div style = "position: absolute; top: 470px; left: 1250px;">
    <a class="btn btn-secondary" href="{{ url_for('users.register') }}" role="button">Submit Order</a>
</div>


<br />

{% endblock %}