{% extends "base.html" %}

{% block content %}

<br />
<br />
<h2 style= "position: relative; left: 65px">Product Details:</h2>
<br />
  <div style= "width: 90%; height: 230px; padding: 20px; margin: auto; border-style: solid; border-width: 1px; border-color: #D1D5DB; background-color: #E8EAED">

      <div class="column" style="width: 20%; display: inline-flex; margin-right: 20px">
        <img src={{product.img_link}} alt="Rose" style="object-position: center center; object-fit: cover; max-width: 100%; min-width: 80px; min-height: 100px; max-height: 140px; margin: auto;">
      </div>

      <div class="column" style="width: 60%; display: inline-block;">
        <div style="display: block">
          <p style="font-size: 18px; font-weight: bold; text-align: left; float: left; width: 100%">
            {{product.name}} 
          </p>
        </div>
        <div style="display: block">
          <p style="font-size: 16px; font-weight: normal; text-align: left; float: left;">
            {{product.descrip}}
          </p>
          <p>
            Average Rating: {{rate.avg}}
          </p>
        </div>
      </div>

      <div class="column" style="width: 15%; display: inline-block;">
        <div style="width: 80px; height: 80px; margin-bottom: 60px; background-color: #D6E5E3; display: inline-block; float: right">
          <p style="text-align: center; font-size: 13px; position: relative; top: 40%;"> 
            ${{product.price}} 
          </p>
          <p style="text-align: center; font-size: 13px; position: relative; top: 80%;"> 
            Category: {{product.category}} 
          </p>
        </div>
      </div>
  </div>

  <br />

  <div style = "width: 93%; height: 230px; padding: 20px; margin: auto;">
    <div style = "width: 45%; display: inline-block;">
      <h4>Product Reviews:</h4>
      <br />
      <table class='table table-hover table-bordered container'>
        <tbody>
          {% for review in reviews%}
            <tr style= "height: 100px">
              <td>
                <div>
                  <p style = "display: inline-block; font-size: 18px; font-weight: bold; padding-top: 8px">
                    <a href="{{ url_for('index.nonsellerpublicinfo', variable=review.buyer_id) }}">{{review.buyer_first_name}} {{review.buyer_mid_name}} {{review.buyer_last_name}}</a>
                  </p>
                  <p style = "display: inline-block; font-size: 15px; padding-top: 8px; margin-left: 10px;">
                    {{review.date.month}}/{{review.date.day}}/{{review.date.year}}
                  </p>
                  <p style = "display: inline-block; font-size: 18px; font-weight: bold; padding-top: 8px; float: right; margin-right: 10px">
                    Rating: {{review.rating}}
                  </p>
                  <p>
                    {{review.review}}
                  </p>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <br />
      <h4>Submit Review:</h4>
      <br />
      <form action="{{ url_for('index.review', variable=product.id) }}" method="POST">
        <div>
          <p>Rating out of 5:</p>
          <select id="stars" name="stars" style="background-color: #E0E4F5;">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        <div class="form-group">
          <label for="review">Write a Review</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="What did you like or dislike?" name="review">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    
    <div style = "width: 50%; display: inline-block; float: right">
      <h4>Product Sellers:</h4>
      <br />
      {% if sells is iterable %}
        <table class='table table-hover table-bordered container'>
          <tbody>
            {% for seller in sells%}
              <tr style= "height: 50px">
                <td>
                  <div>
                    <p style = "display: inline-block; font-size: 18px; font-weight: bold; padding-top: 8px"> 
                      <a href="{{ url_for('index.seller', variable=seller.seller_id) }}">Seller: {{seller.first_name}} {{seller.mid_name}}  {{seller.last_name}}</a>
                    </p>
                    <form action= "/num" style="display: inline-block; float: right">
                      <select id="num" name="num" style="background-color: #E0E4F5;">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                      </select>
                      <button class="formbutton" type="submit" style="background-color: #E0E4F5; color: black; padding-top: 10px; padding-bottom: 10px; padding-left: 30px; padding-right: 30px; font-size: 16px; border: none; margin-bottom: 12px;">Add to Cart</button>
                    </form>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

      {% elif sells.sell_id is none %}
        <p> No Seller </p>

      {% else %}
        <table class='table table-hover table-bordered container'>
          <tbody>
            <tr style= "height: 50px">
              <td>
                <div>
                  <p style = "display: inline-block; font-size: 18px; font-weight: bold; padding-top: 8px"> 
                    <a href="{{ url_for('index.seller', variable=seller.seller_id) }}">Seller: {{seller.first_name}} {{seller.mid_name}}  {{seller.last_name}}</a> 
                  </p>
                  <form action= "/num" style="display: inline-block; float: right">
                    <select id="num" name="num" style="background-color: #E0E4F5;">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                    <button class="formbutton" type="submit" style="background-color: #E0E4F5; color: black; padding-top: 10px; padding-bottom: 10px; padding-left: 30px; padding-right: 30px; font-size: 16px; border: none; margin-bottom: 12px;">Add to Cart</button>
                  </form>
                  
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      {% endif %}
    </div>
  </div>


{% endblock %}
